@inherits StoreComponent<AppState>

<div class="container-fluid">
    <h2>Late Pre-Class Period</h2>
    <div class="form-group">
        <input type="checkbox" name="seasonTiles" @bind="includeSeasonTiles"/>
        <label class="form-check-label" for="seasonTiles">Season Tiles</label>
    </div>
</div>

@code {
    bool includeSeasonTiles = false;
    bool includePriestTiles = false;
}
